# System & Editor specific
.DS_Store
.AppleDouble
.LSOverride
.vscode/

# Common data, archives, and large file formats
*.json
*.pkl
*.parquet
*.zip
*.csv

# Ignored project-specific folders and their entire contents
NEW/
cleaned_data/
copies_in_case/
tweets_data/
tweets_translation/
BACKUP/

# Data folder: track structure and subdirectories, ignore files within
data/**/*
!data/**/
!data/**/.gitkeep
!data/00.init/
!data/00.init/**

# Archive folder: track structure, ignore files within
archive/**/*
Archive/**/*
!archive/**/.gitkeep

# Python build artifacts & virtual environments
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
# Existing virtual environment ignores
env/
venv/
.venv/          # /Scripts/python.exe
*_env/
.*_env/
.*venv*/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.eggs/
*.egg-info/
dist/
build/
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs & Temporary files
*.log
*.tmp
*.temp
*.pdf
